<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1>IMAGE RECOGNITION GAME</h1>
    <div class="center">
    <form action=/login method="post">
      <h2>LOGIN</h2>
     <div class="txt_field">
      <input type="text" label="USERNAME" name="username" required placeholder="USERNAME">
      <input type="password" label="PASSWORD" name="password" required placeholder="PASSWORD">
       </div> 
      <button type="submit" class="form-button" >login</button>
    
    <div class="signup_link">
      <h3>NOT REGISTERED ? <a href="/signup">signup</a></h3>
      </div>
    </form>
  </div>
  </body>
</html>
